 /* Global
-------------------------------------------------- */
/** {
  margin: 4px;
}*/

html {
  height: 100vh;
}

body { 
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  box-sizing: border-box;
}

button {
  border: 1px solid black;
  padding: .5em;
  font-size: 25px;
}

button:hover {
  border-style: dotted;
}

input[type=text] {
  width: 130px;
  font-size: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

/* Disable focus glow */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

 /* Main & Sidebar
-------------------------------------------------- */

/*
 * main
 */
.main {
  float:left;
  width: 75%;
  height: 825px;
  box-sizing: border-box;
  background: #eee;
}

/*
 * Side bar
 */
.sideBar {
  float: right;
  align-content: right;
  width: 24%;
  height: 745px;
  background-color: ;
}

.sideBar ul {
  list-style-type: none;
  overflow: auto;
  grid-area: "taskList";
}

.sideBar li {
  list-style-type: none;
  grid-area: "taskList";
  font-size: 25px;
  padding-left: .25em;
  color: black;
}

/*.list {
  border: 1px solid black;
  padding: 1em;
}
*/
/*
 * Side bar section 1 (top)
 * +-------------------+
 * |    Date & Time    | <- THIS
 * +-------------------+
 * | Title & Clear all | 
 * +-------------------+
 * | ..................|
 */
#todoHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  grid-template-areas:
  "date taskCount"
  "time completed";
  justify-items: end;
}

#date {
  grid-area: "date";
  font-size: 24px;
  padding-top:.5em;
}

#time {
  padding-top: .5em;
  grid-area: "time";
  font-size: 24px;
  margin-bottom: 0;
}

#taskCompleted {
  font-size: 25px;
  padding-top: .1em;
  grid-area: "completed";
  text-align: center;
}

#taskCount {
  font-size: 25px;
  grid-area: "taskCount";
}

/*
 * Side bar section 2 (center)
 * +-------------------+
 * |    Date & Time    |
 * +-------------------+
 * | Title & Clear all | <- THIS
 * +-------------------+
 * | ..................|
 */
#titleClearBtn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "title clearBtn"
}

#to-do-list h1{
  grid-area: "title";
  margin-top: 0;
}

#clearBtn {
  grid-area: "clearBtn";
  padding-top: 2px;
}

#clearBtn button {
  border: 0;
  font-size: 18px;
  margin: 0;
  color: red;
  font-style: italic;
  opacity: .5;
}

#clearBtn button:hover {
  opacity: 1;
}

/*
 * Side bar section 3 (bottom)
 * +-------------------+
 * |    Date & Time    |
 * +-------------------+
 * | Title & Clear all | 
 * +-------------------+
 * | ..................| <- THIS (everything else)
 */

#todoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 12fr;
  grid-template-areas: 
  "taskForm taskBtn"
  "taskList delete";
}

#todoForm {
  grid-area: "taskForm";
}

#newTaskBtn {
  grid-area: "taskBtn";
}

#deleteArea {
  grid-area: "delete";
  text-align: center;
  padding-top: 5em;
  font-size: 25px;
}

 /* Urgent and important text & double click
-------------------------------------------------- */

/*
 * Urgent
 */
.urgent {
  position: absolute;
  top: 20%;
  left: 0;
}

/*
 * Not Urgent
 */
.notUrgent {
  position: absolute;
  bottom: 20%;
  left: 0;
 }

/*
 * Important
 */
.important {
  position: absolute;
  top: 0;
  left: 20%;
}

/*
 * Not Important
 */
.notImportant {
  position: absolute;
  top: 0;
  right: 40%;
  text-align: center;
}

/*
 * Double click text
 */
#dlbclk_txt {
  position: absolute;
  left:50%;
  border: 3px solid black;
}

 /* Boxes
-------------------------------------------------- */

/* 
 * +-----+-----+
 * |  1  |  2  |
 * +-----+-----+
 * |  3  |  4  |
 * +-----+-----+
 */

#container-1 li, #container-2 li, #container-3 li, #container-4 li {
  list-style-type: none;
  font-size: 25px;
}

/*
 * box-1 : Urgent & Important;
 */
#container-1 {
  float: left;
  background-color: red;
  height: 365px;
  width: 45%;
  margin-bottom: 0;
  margin-right: 0;

  /* For grid */
  margin-left: 7.3%;
  margin-top: 2.8em;
  padding-left: 1%; 
  padding-top: 1em;
  display: grid;
  grid-gap: .3px;
  grid-template-columns: repeat(5, 1fr) ;
}

/* for each box(div) within container-1 */ 
/*#container-1> div {
  border: 0px solid black;
}

#container-1> div:hover {
  border: 1px solid black;
}*/

/*
 * box-2 : Urgent & Not Important;
 */
#container-2 {
  float: left;
  background-color: yellow;
  height: 365px;
  width: 46%;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 2.8em;
  padding-top: 1em;

  /* For grid */
  display: grid;
  grid-gap: .3px;
  grid-template-columns: repeat(5, 1fr) ;
}

/*
 * box-3 : Not Urgent & Important;
 */
#container-3 {
  float: left;
  background-color: orange;
  height: 365px;
  width: 45%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 7.3%;
  padding-left: 1%;

  /* For grid */
  display: grid;
  grid-gap: .3px;
  grid-template-columns: repeat(5, 1fr) ;
}

/*
 * box-4 : Not Urgent & Not Important;
 */
#container-4 {
  float: left;
  background-color: green;
  height: 365px;
  width: 46%;
  margin-top: 0;
  margin-left: 0;

  /* For grid */
  display: grid;
  grid-gap: .3px;
  grid-template-columns: repeat(5, 1fr) ;
}

 /* Hr line properties
-------------------------------------------------- */

/*
 * Horizontal hr line
 */
.horizontal {
  position: absolute;
  top: 21.5rem;
  left: 7%;
  margin-left:0;
}

/*
 * Vertical hr line
 */
.vertical {
  position: absolute;
  top: 5%;
  left: 40%;
  margin-top:0;
}

/*
 * Seperation hr line
 */
.separate {
  position: absolute;
  top: 15%;
  right: 25%;
  margin-bottom:0;
}

 /* Animation
-------------------------------------------------- */

/*
 * Animation
 */
.fadeIn {
  -webkit-animation: fadein var(--sec); /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein var(--sec); /* Firefox < 16 */
      -ms-animation: fadein var(--sec); /* Internet Explorer */
       -o-animation: fadein var(--sec); /* Opera < 12.1 */
          animation: fadein var(--sec);
}

/*
 * Grow horizontal
 */
.expand{
  transition: width 2s ease-out;
  width: 0;
}

.grow{
  width: 65%;
}

/*
 * Grow Vertical
 */
.expandVertical{
  transition: height 2s ease-out;
  height: 0;
}

.growVertical{
  height: 750px
}

/*
 * Separate animation
 */
.separateExpand{
  transition: height 2s ease-out;
  height: 0;
}

.separateGrow{
  height: 500px;
}

 /* Webkit & keyframes
-------------------------------------------------- */

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 /* Drag & Drop functionality
-------------------------------------------------- */

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

 /* Font - Input Form
-------------------------------------------------- */

#newTaskForm::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

 /* @media
-------------------------------------------------- */

@media (max-width: 1400px) {
/*  #todoHeader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 1fr 1.2fr;
    grid-template-areas:
    "date"
    "time"
    "completed"
    "taskCount";
    justify-items: left;
  }*/

  #todoHeader {
    display: flex;
    flex-direction: column;
  }
  #date {
    order: 1;
  }
  #time {
    order: 2;
  }
  .taskBox {
    order: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "completed" "count";
  }
  .taskBox > #taskCompleted {
    grid-area: "completed";
  }
  .taskBox > #taskCount {
    grid-area: "count";
  }

}