/* Global
-------------------------------------------------- */
body { 
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

button {
  border: 1px solid #f8f9fa;
  padding: .5em;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  border-style: dotted;
}

input[type=text] {
  color: #f8f9fa;
  width: 130px;
  font-size: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #f8f9fa;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

input[type=text]:focus {
  width: 100%;
}

/* Disable focus glow */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

li {
  padding-left: 5px;
}

li:hover {
  color: #a4a4a4;
} 

 /* Main & Sidebar
-------------------------------------------------- */

/*
 * Main
 */
.main {
  box-sizing: border-box;
}

/*
 * Side bar
 */
.sideBar {
  min-height: 745px;
}

.sideBar ul {
  list-style-type: none;
}

.sideBar li {
  list-style-type: none;
  font-size: 25px;
}

/*
 * Side bar section 1 (top)
 * +-------------------+
 * |    Date & Time    | <- THIS
 * +-------------------+
 * | Title & Clear all | 
 * +-------------------+
 * | ..................|
 */


/*
 * Side bar section 2 (center)
 * +-------------------+
 * |    Date & Time    |
 * +-------------------+
 * | Title & Clear all | <- THIS
 * +-------------------+
 * | ..................|
 */

#clearBtn button {
  border: 0;
  font-size: 18px;
  margin: 0;
  color: red;
  font-style: italic;
  opacity: .5;
}

#clearBtn button:hover {
  opacity: 1;
}

/*
 * Side bar section 3 (bottom)
 * +-------------------+
 * |    Date & Time    |
 * +-------------------+
 * | Title & Clear all | 
 * +-------------------+
 * | ..................| <- THIS (everything else)
 */

#deleteArea {
  font-size: 25px;
  border: 1px dashed #fff;
  min-height: 500px;
}

#todoList {
  overflow-wrap: break-word;
  min-height: 500px;
}

 /* Urgent and important text
-------------------------------------------------- */

/*
 * ALL
 */

/*
 * Important
 */
.important {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

/*
 * Not Important
 */
.notImportant {

  -webkit-transform:rotate(-90deg);
 }

/*
 * Urgent
 */

/*
 * Not Urgent
 */


 /* Containers
-------------------------------------------------- */

/* 
 * +-----+-----+
 * |  1  |  2  |
 * +-----+-----+
 * |  3  |  4  |
 * +-----+-----+
 */

#container-1 li, #container-2 li, #container-3 li, #container-4 li {
  list-style-type: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
}

#container-1, #container-2, #container-3, #container-4 {
  /* For grid */
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  border-radius: 5px;
}

 /* Hr line properties
-------------------------------------------------- */

/*
 * Horizontal hr line
 */
.horizontal {
  position: absolute;
  top: 21.5rem;
  left: 6%;
  margin-left:0;
}

/*
 * Vertical hr line
 */
.vertical {
  position: absolute;
  top: 5%;
  left: 40%;
  margin-top:0;
}

/*
 * Seperation hr line
 */
.separate {
  position: absolute;
  top: 15%;
  right: 24%;
  margin-bottom:0;
}

 /* Animation
-------------------------------------------------- */

/*
 * Animation
 */
.fadeIn {
  -webkit-animation: fadein var(--sec); /* Safari, Chrome and Opera > 12.1 */
          animation: fadein var(--sec);
}

/*
 * Grow horizontal
 */
.expand{
  transition: width 2s ease-out;
  width: 0;
}

.grow{
  width: 66%;
}

/*
 * Grow Vertical
 */
.expandVertical{
  transition: height 2s ease-out;
  height: 0;
}

.growVertical{
  height: 750px
}

/*
 * Separate animation
 */
.separateExpand{
  transition: height 2s ease-out;
  height: 0;
}

.separateGrow{
  height: 500px;
}

 /* Webkit & keyframes
-------------------------------------------------- */

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 /* Drag & Drop functionality
-------------------------------------------------- */

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

 /* Font - Input Form
-------------------------------------------------- */

#newTaskForm::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;

 /* Scroll bar - for chrome
-------------------------------------------------- */
::-webkit-scrollbar { 
    display: none; 
    background: transparent;
}

 /* @media
-------------------------------------------------- */
